<div class="login-content">
    <div class="login-form">
        <input autocomplete="false" type="email" placeholder="Email Id" [(ngModel)]="emailId" />
        <input autocomplete="false" *ngIf="!isLogin" placeholder="Useranme" type="text" [(ngModel)]="username" />
        <input autocomplete="false" type="password" placeholder="Password" [(ngModel)]="password" />
        <button (click)="loginOrderRegister()" type="button">{{buttonText}}</button>
        <h4 (click)="changeView()">{{registerStatus}}</h4>
    </div>
</div>
<h4 [class]="popupClass" *ngIf="showPopup">{{popupText}}</h4>
