<div class="main-content">
    <div class="left-content">
        <h4>Your Previous Searches</h4>
        <div class="history-data">
            <h4 (click)="selectedList(i)" *ngFor="let onedata of previousData;let i = index;">
                {{onedata.text.substr(0,50)}}...
            </h4>
        </div>
    </div>
    <form  method="POST" enctype="multipart/form-data">
            <div class="right-content">
                    <div class="image-file">
                        <input type="text" name="filename" [(ngModel)]="fileName" placeholder="Choose a file" />
                        <button type="submit" (click)="openFile()">Choose a File</button>
                        <input #file (change)="fileChanged($event)" id="imageFile" type="file" accept='image/*' style="display: none;" />
                    </div>
                    <div class="processed-text">
                        <h4>Uploaded Image</h4>
                        <h4>Processed Text</h4>
                       <img *ngIf="!isSelectedFromList" id="uploadedImage" src="" />
                       <img *ngIf="isSelectedFromList" alt="serverimage" id="uploadedImage1" src="" />
                        <p *ngIf="isTextProcessed">
                           {{processedText}}
                        </p>
                    </div>
                </div>
    </form>
    
</div>
<div class="popup">
    <h4>Processing Image Please wait...</h4>
</div>
